@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #020202;
	overflow-y: scroll;
}

a {
  text-decoration: none;
  color: white;
  transition: all ease-in-out .25s;
}

a:hover {
  text-decoration: none;
  color: burlywood
}